SECRET_KEY=your-secret-key

# Security
ALGORITHM=HS256


# Database
DB_USER=test_mini_book_store_user
DB_NAME=test_mini_book_store
DB_PASSWORD=123456
TEST_DB_NAME=test_mini_book_store

#Postgres
POSTGRES_USER=test_mini_book_store_user
POSTGRES_DB=test_mini_book_store
POSTGRES_PASSWORD=123456

#HOST
DB_HOST=db
DB_PORT=5432

# Tokens
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
DEBUG=True

#Admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123