# Database
DB_USER=
DB_NAME=
DB_PASSWORD=

#HOST
DB_HOST=
DB_PORT=

#TEST
TEST_DB_NAME=

# Security
ALGORITHM=HS256
SECRET_KEY=

# Tokens
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
DEBUG=True

#Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=