# ORM
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_TEST_NAME=
#Database
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

#HOST
DB_HOST=
DB_PORT=

# Security
ALGORITHM=
SECRET_KEY=

# Tokens
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# App
DEBUG=

#Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=